<a href="https://colab.research.google.com/github/gayathri1462/Hello-ML/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2021-07-12 05:48:12--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  12.7MB/s    in 12s

2021-07-12 05:48:25 (12.6 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [4]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [11]:
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [5]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year']

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
          ...
34203    (1967)
34204    (2010)
34205    (2009)
34206    (2015)
34207    (1975)
Name: year, Length: 34208, dtype: object

In [6]:
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
34203    1967
34204    2010
34205    2009
34206    2015
34207    1975
Name: year, Length: 34208, dtype: object

In [7]:
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                     ...
34203                     Grand Slam
34204                     Bloodmoney
34205           The Butterfly Circus
34206                           Zero
34207          The 2000 Year Old Man
Name: title, Length: 34208, dtype: object

In [8]:
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [9]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [10]:
moviesWithGenres_df = movies_df.copy()

for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1

moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head().T

                                                                    0  ...                            4
movieId                                                             1  ...                            5
title                                                       Toy Story  ...  Father of the Bride Part II
genres              [Adventure, Animation, Children, Comedy, Fantasy]  ...                     [Comedy]
year                                                             1995  ...                         1995
Adventure                                                           1  ...                            0
Animation                                                           1  ...                            0
Children                                                            1  ...                            0
Comedy                                                              1  ...                            1
Fantasy                                                             1  ...                            0
Romance                                                             0  ...                            0
Drama                                                               0  ...                            0
Action                                                              0  ...                            0
Crime                                                               0  ...                            0
Thriller                                                            0  ...                            0
Horror                                                              0  ...                            0
Mystery                                                             0  ...                            0
Sci-Fi                                                              0  ...                            0
IMAX                                                                0  ...                            0
Documentary                                                         0  ...                            0
War                                                                 0  ...                            0
Musical                                                             0  ...                            0
Western                                                             0  ...                            0
Film-Noir                                                           0  ...                            0
(no genres listed)                                                  0  ...                            0

[24 rows x 5 columns]

In [12]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [13]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [14]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies.T

                                                                 0     ...                 1885
movieId                                                             1  ...                 1968
title                                                       Toy Story  ...  Breakfast Club, The
genres              [Adventure, Animation, Children, Comedy, Fantasy]  ...      [Comedy, Drama]
year                                                             1995  ...                 1985
Adventure                                                           1  ...                    0
Animation                                                           1  ...                    0
Children                                                            1  ...                    0
Comedy                                                              1  ...                    1
Fantasy                                                             1  ...                    0
Romance                                                             0  ...                    0
Drama                                                               0  ...                    1
Action                                                              0  ...                    0
Crime                                                               0  ...                    0
Thriller                                                            0  ...                    0
Horror                                                              0  ...                    0
Mystery                                                             0  ...                    0
Sci-Fi                                                              0  ...                    0
IMAX                                                                0  ...                    0
Documentary                                                         0  ...                    0
War                                                                 0  ...                    0
Musical                                                             0  ...                    0
Western                                                             0  ...                    0
Film-Noir                                                           0  ...                    0
(no genres listed)                                                  0  ...                    0

[24 rows x 5 columns]

In [15]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable.T

                      0    1    2    3    4
Adventure           1.0  1.0  0.0  1.0  0.0
Animation           1.0  0.0  0.0  1.0  0.0
Children            1.0  1.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  0.0  1.0
Fantasy             1.0  1.0  0.0  0.0  0.0
Romance             0.0  0.0  0.0  0.0  0.0
Drama               0.0  0.0  1.0  0.0  1.0
Action              0.0  0.0  0.0  1.0  0.0
Crime               0.0  0.0  1.0  0.0  0.0
Thriller            0.0  0.0  1.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  1.0  0.0
IMAX                0.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0
War                 0.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0

In [16]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [17]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [18]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head().T

movieId               1    2    3    4    5
Adventure           1.0  1.0  0.0  0.0  0.0
Animation           1.0  0.0  0.0  0.0  0.0
Children            1.0  1.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  1.0  1.0
Fantasy             1.0  1.0  0.0  0.0  0.0
Romance             0.0  0.0  1.0  1.0  0.0
Drama               0.0  0.0  0.0  1.0  0.0
Action              0.0  0.0  0.0  0.0  0.0
Crime               0.0  0.0  0.0  0.0  0.0
Thriller            0.0  0.0  0.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  0.0  0.0
IMAX                0.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0
War                 0.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0

In [19]:
genreTable.shape

(34208, 20)

In [20]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [21]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
dtype: float64

In [22]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

       movieId  ...  year
664        673  ...  1996
1824      1907  ...  1998
2902      2987  ...  1988
4923      5018  ...  1991
6793      6902  ...  2002
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
9825     32031  ...  2005
11716    51632  ...  2003
11751    51939  ...  2007
13250    64645  ...  1968
16055    81132  ...  2010
18312    91335  ...  2009
22778   108540  ...  2012
22881   108932  ...  2014
25218   117646  ...  2000
26442   122787  ...  1959
32854   146305  ...  2000
33509   148775  ...  2009

[20 rows x 4 columns]